<v-card class="diff-card">
  <v-card-title>
    State diff
  </v-card-title>

  <v-divider />

  <v-card-text class="scroll-area">
    <v-text-field
      v-model="filterString"
      label="Filter"
      :hide-details="true"
      density="compact"
      class="mb-5"
    />

    <div class="tree">
      <DiffNode
        v-for="node in treeModel"
        :key="node.id"
        :node="node"
        :depth="0"
        :expanded="expanded"
        :toggle="toggle"
        :is-expanded="isExpanded"
        :class-for="classFor"
      />
    </div>
  </v-card-text>
</v-card>
