<div
  class="node"
  :class="classFor(path)"
>
  <div class="row">
    <span
      class="arrow"
      :class="{ clickable: !isLeaf(node) }"
      @click="!isLeaf(node) && toggle(path)"
    >
      {{ (isLeaf(node) || Object.keys(node).length == 0) ? "" : (open() ? "▼" : "▶") }}
    </span>

    <span class="col-name">
      {{ label() }}
    </span>

    <v-textarea
      v-if="editing"
      v-model="editValue"
      :rows="3"
      :hide-details="true"
      @keyup.enter="validateEdit"
      @keyup.esc="cancelEdit"
    ></v-textarea>

    <span
      v-else
      class="col-value clickable"
      :class="isLeaf(node) ? 'type-' + leafType(node) : 'preview'"
      @dblclick="onDoubleClick($event)"
    >
      {{ isLeaf(node) ? leafLabel(node) : previewLabel(node) }}
    </span>
  </div>

  <div
    v-if="!isLeaf(node) && open()"
    class="children"
  >
    <DiffNode
      v-for="([key,value]) in entries(node)"
      :key="key"
      :node="value"
      :path="path ? path+'.'+key : key"
      :depth="depth+1"
      :expanded="expanded"
      :toggle="toggle"
      :is-expanded="isExpanded"
      :class-for="classFor"
    />
  </div>
</div>
