<div
  class="node"
  :class="classFor(node.id)"
>
  <div class="row">
    <span
      class="arrow"
      :class="{ clickable: expandable() }"
      @click="expandable() && toggle(node.id)"
    >
      {{
        expandable()
          ? (open() ? "▼" : "▶")
          : ""
      }}
    </span>

    <span class="col-name">
      {{ node.name }}
    </span>

    <span
      v-if="node.type === 'namespace'"
      class="col-value namespace"
    >
      [namespace]
    </span>

    <v-textarea
      v-else-if="editing"
      v-model="editValue"
      :rows="3"
      :hide-details="true"
      @keyup.enter="validateEdit"
      @keyup.esc="cancelEdit"
      v-click-outside="cancelEdit"
    />

    <span
      v-else
      class="col-value clickable"
      :class="
        isContainer()
          ? 'preview'
          : 'type-' + leafType(node.value)
      "
      @dblclick="!isContainer() && onDoubleClick()"
    >
      {{
        isContainer()
          ? previewLabel(node.value)
          : leafLabel(node.value)
      }}
    </span>
  </div>
  <div
    v-if="expandable() && open()"
    class="children"
  >
    <DiffNode
      v-for="child in node.value"
      :key="child.id"
      :node="child"
      :depth="depth+1"
      :expanded="expanded"
      :toggle="toggle"
      :is-expanded="isExpanded"
      :class-for="classFor"
    />
  </div>
</div>
