<div
  class="node"
  :class="classFor(path)"
>
  <template v-if="isLeaf(node)">
    <b>{{ label() }}:</b> {{ leafLabel(node) }}
  </template>

  <template v-else>
    <div
      class="header"
      @click="toggle(path)"
    >
      <span>
        {{ open() ? "▼" : "▶" }}
      </span>

      <b>
        {{ label() }}
      </b>

      <span class="count">
        {{ countLabel(node) }}
      </span>
    </div>

    <div
      v-if="open()"
      class="children"
    >
      <DiffNode
        v-for="([key,value]) in entries(node)"
        :key="key"
        :node="value"
        :path="path ? path+'.'+key : key"
        :depth="depth+1"
        :expanded="expanded"
        :toggle="toggle"
        :is-expanded="isExpanded"
        :class-for="classFor"
      />
    </div>
  </template>
</div>
